<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow the API folder to handle its own requests
  RewriteRule ^api/ - [L]

  # Redirect all other paths to index.html for React Router
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
